.runcmd
results_smoke/
paper/*.aux
paper/*.log
paper/*.out
results_dbg/
node_modules/
package-lock.json
paper/scirep/*.aux
paper/scirep/*.log
paper/scirep/*.out
paper/scirep/*.bbl
paper/scirep/*.blg
paper/*.bbl
paper/*.blg
paper/*.lof
paper/*.lot
paper/overleaf_report/*.aux
paper/overleaf_report/*.log
paper/overleaf_report/*.out
paper/overleaf_report/*.bbl
paper/overleaf_report/*.blg
paper/overleaf_report/*.lof
paper/overleaf_report/*.lot
paper/overleaf_report/*.toc
